header {
    text-align: left;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 32px;
        align-self: center;
    }
    
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.register {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        margin-left: 1em;
    }

    .register-form {
        .register-field {
            display: flex;
            flex-direction: column;
        }

        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
            padding-bottom: 1em;
            
            label {
                font-size: 14px;
            }
        }
        .register-text-input {
            height: 2.5em;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 25em;
        }

        .register-submit {
            width: 25.4em;
            height: 2.5em;
            box-shadow: 3px 3px 3px #DdDdDd;
            border: 1px solid #CDCED7;
            background: #B3F2FF;
            border-radius: 5px;
        }
    }

    .login-link {
        text-align: center;
        margin-bottom: 1em;
    }
}

.error {
    color: #CA0003;
}

.login {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35em;

    .register-link {
        text-align: center;
        margin-bottom: 1em;
    }

}

.login-form {
    
    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1.5em;
        padding-bottom: 1em;
        
        label {
            font-size: 14px;
        }
    }

    .username-field {
        margin-top: 1em;
    }

    .login-text-input {
        height: 2.5em;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 25em;
    }

    .login-submit {
        width: 25.4em;
        height: 2.5em;
        box-shadow: 3px 3px 3px #DdDdDd;
        border: 1px solid #CDCED7;
        background: #B3F2FF;
        border-radius: 5px;
    }
}

.todays-entry {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;

    .form-nav {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background:#B3F2FF;
        margin-bottom: 1em;
        cursor: pointer;

        .unanswered {
            font-weight: lighter;
        }

        .current {
            font-weight: bold;
            padding-bottom: 0.25em;
            border-bottom: 3px solid #EF00BF;
        }
    }

    .today-content {
        display: flex;
        flex-direction: row;
        height: 32em;
        margin-left: 1em;

        .ikigai-info {
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            background:#F5F5F8;
            padding: 0 1em 0 1em;
            overflow-y: scroll;
        }

        .mobile-ikigai-info {
            display: none;
        }
    }
}

small {
    color: #B4B5C2
}

.journal-form {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin: 0.5em;
    width: 45em;
    height: 31em;
    padding-top: 1em;

    .desktop-more-info {
        margin-left: 1em;
        padding-right: 2em;
    }
    
    .form-part {
        margin: 0.2em 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-show-more {
        display: none;
    }

    .title-input {
        height: 2.5em;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    .text-input {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 45em;
    }

    .buttons {
        margin: 1em 0 0.5em 0;
        align-self: center;

        .next {
            background: #B3F2FF;
        }

    }

    .button {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        font-size:1em;
        align-self: center;
        height: 2em;
        width: 5em;
        margin: 0 0.5em 0 0.5em;
    }

    .button:hover {
        cursor: pointer;
    }

    .submit {
        background: #B3F2FF;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        font-size:1em;
        align-self: center;
        height: 2em;
        width: 5em;
    }

    .submit:disabled {
        background: #E2E3E7;
        color: #6B6E85;
    }
}

.results-container {
    background: #F5F5F8;
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    margin: 1em 0 2em 1em;
    height: 24em;
    overflow-y: scroll;
    padding: 1em 0 0 1em;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.loading {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #F5F5F8 50%, #AC008A 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: #F5F5F8;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

.past-entries {
    background: #F5F5F8;
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    width: 75.5em;
    height: 42em;
    overflow-y: scroll;
    
    h2 {
        margin: 0;
    }
    
    .entries {
        height: 37em;
        overflow-y: scroll;
    }
}

.entry-holder {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #EFF0F4;
    margin-top: 0.5em;
    padding: 0.25em;
    
    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .entry-text {
        padding-top: 0.5em;
    }
}

.user-info {
    padding-top: 1.3em;

    .logout {
        cursor: pointer;
    }

    .logout:hover {
        color: #AC008A;
    }
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        height: 350px;
        width: 450px;
    }
}

.about-ikigai {
    display: flex;
    flex-direction: row;
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 32em;
    }
    
    main {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        padding: 0 1em 1em 1em;
        margin-top: 1em;
        height: 40em;
        overflow-y: scroll;

        .section {
            border-bottom: 1px solid #323441;
        }
    }
}

footer {
    text-align: center;
    align-self: center;
    background: #323441;
    color: #EFF0F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 4em;
    bottom: 0;
    width: 100vw;
}

.my-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        margin-left: 1em;
    }

    .profile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 74em;

        .my-info {
            margin-right: 1em;
        }

        .description {
            margin-top: 1em;
        }

        .journal-count {
            margin-top: 1em;
        }
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        span {
            margin-top: 1em;
            align-self: center;
        }
    }
    .profile-section {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 25em;
        padding-left: 0.5em;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            h4 {
                margin: 0.5em 0 0.5em 0;
            }

            .edit-button {
                margin: 0.6em 0 0.3em 0.4em;
                color: #323441;
                cursor: pointer;
            }
        }

        .personal-inputs {
            height: 6em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .name {
            height: 2em;
            width: 20em;
        }

        .profile-input-field {
            background: #F5F5F8;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            margin-bottom: 1em;
        }

        .profile-input-field:disabled {
            background: #EFF0F4;
        }

    }

    .gpt-analysis {
        height: 30.5em;
        width: 40em;
        padding-right: 1em;
        overflow-y: scroll;

        header {
            align-self: center;
        }
    }

    .section-info {
        display: flex;
        flex-direction: column;

    }
    
    .profile-button {
        margin-top: 0.5em;
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        font-size: 1em;
        align-self: center;
        height: 2em;
        width: 7em;
    }
}

@media (max-width: 800px) {
    header {
        text-align: left;
        
        h2 {
            margin: 0.5em;
        }
        
    }
    
    .top-bar {
        width: 22em;
    }

    .register {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        width: 23em;

        .register-form {
            .register-field {
                display: flex;
                flex-direction: column;
            }
    
            .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 0;
                padding-bottom: 1em;
                
                label {
                    font-size: 14px;
                }
            }
            .register-text-input {
                height: 2.5em;
                border: 1px solid #CDCED7;
                box-shadow: 3px 3px 3px #DdDdDd;
                border-radius: 5px;
                width: 25em;
            }
    
            .register-submit {
                width: 25.4em;
                height: 2.5em;
                box-shadow: 3px 3px 3px #DdDdDd;
                border: 1px solid #CDCED7;
                background: #B3F2FF;
                border-radius: 5px;
            }
        }

        .login-link {
            text-align: center;
        }
    }

    .login {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        width: 23em;

        .register-link {
            text-align: center;
            margin-bottom: 1em;
        }
    }

    .login-form {
        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0;
            padding-bottom: 1em;
            
            label {
                font-size: 14px;
            }
        }

        .username-field {
            margin-top: 1em;
        }

        .login-text-input {
            height: 2.5em;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 25em;
        }

        .login-submit {
            width: 25.4em;
            height: 2.5em;
            box-shadow: 3px 3px 3px #DdDdDd;
            border: 1px solid #CDCED7;
            background: #B3F2FF;
            border-radius: 5px;
            margin-top: 1em;
        }
    }

    .todays-entry {
        width: 20em;
        padding: 0 1em 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .mobile-show-more {
            display: inline;
        }

        .form-nav {
            justify-content: space-between;
            width: 22em;
            padding-left: 1em;
            padding-right: 1em;
        }


        .today-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 20em;
            max-width: 10em;
        }

        .ikigai-info {
            display: none;
        }
    }

    .mobile-ikigai-info {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #EFF0F4;
        height: 20em;
        width: 21em;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1em 0 1em;
        margin: 1em 0 0 0.5em;
        

        p {
            margin-top: 0;
        }

        ul {
            margin: 0;
            padding: 1em;
        }
    }
    
    .journal-form {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 1.8em 1em 1.2em;
        width: 23em;

        .desktop-more-info {
            display:none;
        }
        
        .form-part {
            margin: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .title-input {
            height: 2.5em;
            width: 29em;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.25em;
        }

        .text-input {
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 26em;
        }

        textarea {
            width: 30em;
        }

        .buttons {
            display: flex;
            flex-direction: row;
        }

        .submit {
            background: #B3F2FF;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            font-size:1em;
            align-self: center;
            height: 2em;
            width: 5em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .results-container {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        margin: 1em 0 0 0.4em;
        height: 30em;
        width: 22em;
        overflow-y: scroll;
        padding: 0 0.5em 0 0.5em;
    }

    .past-entries {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        padding: 0.5em;
        width: 23em;
        
        h2 {
            margin: 0;
            text-align: center;
        }
        
        .entries {
            height: 45em;
            margin-left: 0.2em;
            width: 23em;
            overflow-y: scroll;
        }
    }

    .entry-holder {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #EFF0F4;
        margin-top: 0.5em;
        padding: 0.25em;
        p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }

    .user-info {
        padding-top: 1.3em;

        .logout {
            cursor: pointer;
        }
    }

    .about-ikigai {
        display: flex;
        flex-direction: column;
        max-width: 25em;
        header {
            height: 3em;
            text-align: center;
        }

        main {
            height: 35em;
        }
    }

    .image {
        img {
            display:none;
        }
    }

    .my-profile {
        width: 24em;
        justify-content: flex-start;
        height: 100vh;

        .profile-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0 0.5em 0 0.5em;
            width: 23em;
            height: 100vh;

            .profile-section {
                font-size: 14px;
                width: 25em;
                height: 12em;
                margin: 0.5em 0 0.5em 0;

                .info-field {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
    
                    input {
                        width: 24.5em;
                    }
                }
            }

            .personal-inputs {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 1em;

            }
        }

        textarea {
            width: 25em;
            height: 8em;
        }

        .gpt-analysis {
            height: 15em;
            width: 25em;
            padding: 0.2em;
        }
    }
}

