header {
    text-align: left;
    display: flex;
    flex-direction: column;
    
    h2 {
        margin: 0.5em;
    }

    h1 {
        font-size: 32px;
        align-self: center;
    }
    
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.todays-entry {
    margin-left: 1em;
    margin-right: 1em;
}

.register {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        align-self: flex-start;
        margin-left: 1em;
    }

    .register-form {
        .register-field {
            display: flex;
            flex-direction: column;
        }

        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
            padding-bottom: 1em;
            
            label {
                font-size: 14px;
            }
        }
        .register-text-input {
            height: 2.5em;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 25em;
        }

        .register-submit {
            width: 25.4em;
            height: 2.5em;
            box-shadow: 3px 3px 3px #DdDdDd;
            border: 1px solid #CDCED7;
            background: #B3F2FF;
            border-radius: 5px;
        }
    }

    .login-link {
        text-align: center;
        margin-bottom: 1em;
    }
}

.login {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin-left: 20em;

    .register-link {
        text-align: center;
        margin-bottom: 1em;
    }

    header {
        align-self: flex-start;
        margin-left: 1em;
    }
}

.login-form {
    
    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1.5em;
        padding-bottom: 1em;
        
        label {
            font-size: 14px;
        }
    }

    .username-field {
        margin-top: 1em;
    }

    .login-text-input {
        height: 2.5em;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 25em;
    }

    .login-submit {
        width: 25.4em;
        height: 2.5em;
        box-shadow: 3px 3px 3px #DdDdDd;
        border: 1px solid #CDCED7;
        background: #B3F2FF;
        border-radius: 5px;
    }
}

.journal-form {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.25em;
    
    .form-part {
        margin: 0.5em 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title-input {
        height: 2.5em;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    .text-input {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 70em;
    }

    .buttons {
        margin: 1em 0 0.5em 0;
        align-self: center;

        .next {
            background: #B3F2FF;
        }

    }

    .button {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        font-size:1em;
        align-self: center;
        height: 2em;
        width: 5em;
        margin: 0 0.5em 0 0.5em;
    }

    .submit {
        background: #B3F2FF;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        font-size:1em;
        align-self: center;
        height: 2em;
        width: 5em;
    }

    .submit:disabled {
        background: #E2E3E7;
        color: #6B6E85;
    }
}

.results-container {
    background: #F5F5F8;
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    margin-left: 0.25em;
    height: 40em;
    width: 66em;
    overflow-y: scroll;
    padding: 1em 1em 0 1em;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.loading {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #F5F5F8 50%, #B3F2FF 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: #F5F5F8;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

.past-entries {
    background: #F5F5F8;
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    padding: 0.5em;
    
    h2 {
        margin: 0;
    }
    
    .entries {
        height: 45em;
        overflow-y: scroll;
    }
}

.entry-holder {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #EFF0F4;
    margin-top: 0.5em;
    padding: 0.25em;
    
    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .entry-text {
        padding-top: 0.5em;
    }
}

.user-info {
    padding-top: 1.3em;

    .logout {
        cursor: pointer;
    }
}

.footer {
    text-align: center;
    align-self: center;
    width: 100vw;
    background: #323441;
    color: #EFF0F4;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;

    footer {
        width: 40em;
        align-self: center;
    }
}

@media (max-width: 450px) {
    header {
        text-align: left;
        
        h2 {
            margin: 0.5em;
        }
        
    }

    .register {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        width: 25em;
        margin-left: 0.5em;

        .register-form {
            .register-field {
                display: flex;
                flex-direction: column;
            }
    
            .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 1.5em;
                padding-bottom: 1em;
                
                label {
                    font-size: 14px;
                }
            }
            .register-text-input {
                height: 2.5em;
                border: 1px solid #CDCED7;
                box-shadow: 3px 3px 3px #DdDdDd;
                border-radius: 5px;
                width: 25em;
            }
    
            .register-submit {
                width: 25.4em;
                height: 2.5em;
                box-shadow: 3px 3px 3px #DdDdDd;
                border: 1px solid #CDCED7;
                background: #B3F2FF;
                border-radius: 5px;
            }
        }

        .login-link {
            text-align: center;
        }
    }

    .login {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
        width: 25em;

        .register-link {
            text-align: center;
            margin-bottom: 1em;
        }
    }

    .login-form {
        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
            padding-bottom: 1em;
            
            label {
                font-size: 14px;
            }
        }

        .username-field {
            margin-top: 1em;
        }

        .login-text-input {
            height: 2.5em;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 25em;
        }

        .login-submit {
            width: 25.4em;
            height: 2.5em;
            box-shadow: 3px 3px 3px #DdDdDd;
            border: 1px solid #CDCED7;
            background: #B3F2FF;
            border-radius: 5px;
            margin-top: 1em;
        }
    }
    
    .journal-form {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.25em;
        
        .form-part {
            margin: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .title-input {
            height: 2.5em;
            width: 29em;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.25em;
        }

        .text-input {
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 26em;
        }

        textarea {
            width: 30em;
        }

        .buttons {
            display: flex;
            flex-direction: row;
        }

        .submit {
            background: #B3F2FF;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            font-size:1em;
            align-self: center;
            height: 2em;
            width: 5em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .results-container {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        margin-left: 0.25em;
        height: 15.5em;
        width: 26em;
        overflow-y: scroll;
    }

    .past-entries {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        padding: 0.5em;
        
        h2 {
            margin: 0;
        }
        
        .entries {
            height: 45em;
            overflow-y: scroll;
        }
    }

    .entry-holder {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #EFF0F4;
        margin-top: 0.5em;
        padding: 0.25em;
        p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }

    .user-info {
        padding-top: 1.3em;

        .logout {
            cursor: pointer;
        }
    }

    .footer {
        margin-top: 3em;
    }
}

