.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.todays-entry {
    margin-left: 1em;
    margin-right: 1em;
}

.register {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;

    .register-form {
        .register-field {
            display: flex;
            flex-direction: column;
        }

        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
            padding-bottom: 1em;
            
            label {
                font-size: 14px;
            }
        }
        .register-text-input {
            height: 2.5em;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 25em;
        }

        .register-submit {
            width: 25.4em;
            height: 2.5em;
            box-shadow: 3px 3px 3px #DdDdDd;
            border: 1px solid #CDCED7;
            background: #B3F2FF;
            border-radius: 5px;
        }
    }

    .login-link {
        text-align: center;
    }
}

.login {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;

    .register-link {
        text-align: center;
        margin-bottom: 1em;
    }
}

.login-form {
    
    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1.5em;
        padding-bottom: 1em;
        
        label {
            font-size: 14px;
        }
    }

    .username-field {
        margin-top: 1em;
    }

    .login-text-input {
        height: 2.5em;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 25em;
    }

    .login-submit {
        width: 25.4em;
        height: 2.5em;
        box-shadow: 3px 3px 3px #DdDdDd;
        border: 1px solid #CDCED7;
        background: #B3F2FF;
        border-radius: 5px;
    }
}

.journal-form {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #F5F5F8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.25em;
    
    .form-part {
        margin: 0.5em 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
        
    .title-input {
        height: 2.5em;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    .text-input {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        width: 90em;
    }

    .feeling-gauge {
        margin-top: 0.5em;
        width: 24.7em;
        justify-content: space-around;
        box-shadow: 3px 3px 3px #DdDdDd;
    }

    .option {
        height: 2.5em;
        width: 10em;
        padding-bottom: 0.8em;
        padding-top: 0.25em;
        cursor: pointer;
        
        .option-button {
            padding-top: 0.7em;
        }
    }

    .selected {
        background: #B3F2FF;
    }

    .option:first-child {
        border-radius: 5px 0 0 5px;
    }

    .option:last-child {
        border-radius: 0 5px 5px 0;
    }


    .feeling-gauge {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #CDCED7;
        }
    }
    .submit {
        background: #B3F2FF;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        font-size:1em;
        align-self: center;
        height: 2em;
        width: 25em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}

.past-entries {
    background: #F5F5F8;
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    padding: 0.5em;
    
    h2 {
        margin: 0;
    }
    
    .entries {
        height: 45em;
        overflow-y: scroll;
    }
}

.entry-holder {
    border: 1px solid #CDCED7;
    box-shadow: 3px 3px 3px #DdDdDd;
    border-radius: 5px;
    background: #EFF0F4;
    margin-top: 0.5em;
    padding: 0.25em;
    
    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .entry-text {
        padding-top: 0.5em;
    }
}

.user-info {
    padding-top: 1.3em;

    .logout {
        cursor: pointer;
    }
}

.footer {
    margin-top: 5em;
    min-height: 50px;
    text-align: center;
}

@media (max-width: 450px) {
    header {
        text-align: left;
        
        h2 {
            margin: 0.5em;
        }
        
    }

    .register {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;

        .register-form {
            .register-field {
                display: flex;
                flex-direction: column;
            }
    
            .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 1.5em;
                padding-bottom: 1em;
                
                label {
                    font-size: 14px;
                }
            }
            .register-text-input {
                height: 2.5em;
                border: 1px solid #CDCED7;
                box-shadow: 3px 3px 3px #DdDdDd;
                border-radius: 5px;
                width: 25em;
            }
    
            .register-submit {
                width: 25.4em;
                height: 2.5em;
                box-shadow: 3px 3px 3px #DdDdDd;
                border: 1px solid #CDCED7;
                background: #B3F2FF;
                border-radius: 5px;
            }
        }

        .login-link {
            text-align: center;
        }
    }

    .login {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;

        .register-link {
            text-align: center;
            margin-bottom: 1em;
        }
    }

    .login-form {
        
        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5em;
            padding-bottom: 1em;
            
            label {
                font-size: 14px;
            }
        }

        .username-field {
            margin-top: 1em;
        }

        .login-text-input {
            height: 2.5em;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            width: 25em;
        }

        .login-submit {
            width: 25.4em;
            height: 2.5em;
            box-shadow: 3px 3px 3px #DdDdDd;
            border: 1px solid #CDCED7;
            background: #B3F2FF;
            border-radius: 5px;
        }
    }
    
    .journal-form {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.25em;
        
        .form-part {
            margin: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .title-input {
            height: 2.5em;
            width: 29em;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.25em;
        }

        .text-input {
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            max-width: 30em;
        }

        .feeling-gauge {
            margin-top: 0.5em;
            width: 24.7em;
            justify-content: space-around;
            box-shadow: 3px 3px 3px #DdDdDd;
        }

        .option {
            height: 2.5em;
            width: 10em;
            padding-bottom: 0.8em;
            padding-top: 0.25em;
            cursor: pointer;
            
            .option-button {
                padding-top: 0.7em;
            }
        }

        .selected {
            background: #B3F2FF;
        }

        .option:first-child {
            border-radius: 5px 0 0 5px;
        }

        .option:last-child {
            border-radius: 0 5px 5px 0;
        }

        textarea {
            width: 30em;
        }

        .submit {
            background: #F5F5F8;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            font-size:1em;
            align-self: center;
            height: 2em;
            width: 25em;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
    }

    .results-container {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        margin-left: 0.25em;
        height: 15.5em;
        width: 26em;
        overflow-y: scroll;
    }

    .past-entries {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        padding: 0.5em;
        
        h2 {
            margin: 0;
        }
        
        .entries {
            height: 45em;
            overflow-y: scroll;
        }
    }

    .entry-holder {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #EFF0F4;
        margin-top: 0.5em;
        padding: 0.25em;
        p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }

    .user-info {
        padding-top: 1.3em;

        .logout {
            cursor: pointer;
        }
    }

    .footer {
        margin-top: 3em;
    }
}

