.feeling-gauge {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #CDCED7;
    }
}



@media (max-width: 450px) {
    header {
        text-align: left;
        
        h2 {
            margin: 0.5em;
        }
        
    }
    
    .journal-form {
        
        .form-part {
            margin: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        border-radius: 5px;
        background: #F5F5F8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.25em;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;

        .title-input {
            height: 2.5em;
            width: 29em;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.25em;
        }

        .text-input {
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            max-width: 30em;
        }

        .feeling-gauge {
            margin-top: 0.5em;
            width: 24.7em;
            justify-content: space-around;
            box-shadow: 3px 3px 3px #DdDdDd;
        }

        .option {
            height: 2.5em;
            width: 10em;
            padding-bottom: 0.8em;
            padding-top: 0.25em;
            cursor: pointer;
            
            .option-button {
                padding-top: 0.5em;
            }
        }

        .selected {
            background: #B3F2FF;
        }

        .option:first-child {
            border-radius: 5px 0 0 5px;
        }

        .option:last-child {
            border-radius: 0 5px 5px 0;
        }

        textarea {
            width: 30em;
        }

        .submit {
            background: #F5F5F8;
            border: 1px solid #CDCED7;
            box-shadow: 3px 3px 3px #DdDdDd;
            border-radius: 5px;
            font-size:1em;
            align-self: center;
            height: 2em;
            width: 25em;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
    }

    .results-container {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        margin-left: 0.25em;
        height: 15.5em;
        width: 26em;
        overflow-y: scroll;
    }

    .past-entries {
        background: #F5F5F8;
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        padding: 0.5em;
        
        h2 {
            margin: 0;
        }
        
        .entries {
            height: 45em;
            overflow-y: scroll;
        }
    }

    .journal-entry {
        border: 1px solid #CDCED7;
        box-shadow: 3px 3px 3px #DdDdDd;
        border-radius: 5px;
        background: #EFF0F4;
        margin-top: 0.5em;
        padding: 0.25em;
        p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }

    .footer {
        margin-top: 3em;
    }
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    min-height: 50px;
    text-align: center;
    position: absolute;
}